<!-- Background Overlay -->
<div class="background-overlay" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"></div>


<!-- Results -->
<app-result *ngIf="resultVisible" [results]="results"></app-result>

<!-- Calculator -->
<div *ngIf="calculatorVisible" id="calculator-body">

    <div class="form-wrap">

        <!-- Form -->
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" (keydown)="onKeyDown($event)">

            <!-- Step 0 -->
            <div class="step" *ngIf="currentStep === 0">
                <h1>Get Your ROI estimation from UVeye</h1>
                <h2>within 60 seconds</h2>
                <h3>Discover how UVeye's automated vehicle inspection platform can boost your profitability.</h3>
                <button type="button" class="next-btn" (click)="nextStep()">Let's Get Started</button>
            </div>

            <!-- Step 1 -->
            <div class="step" *ngIf="currentStep === 1">
                <label for="oemSelect">What's OEM do you mainly partner with?</label>
                <select [(ngModel)]="formData.oem" name="oem" required #oem="ngModel"
                    (ngModelChange)="onOEMChange($event)">
                    <option value="" disabled>Please select</option>
                    <option *ngFor="let oem of oemService.getOEMs()" [value]="oem">{{ oem }}</option>
                </select>

                <div *ngIf="oem.invalid && oem.touched" class="error">Please select an OEM.</div>
                <button type="button" [disabled]="oem.invalid" class="next-btn" (click)="nextStep()">Next</button>
            </div>


            <!-- Step 2 -->
            <div class="step" *ngIf="currentStep === 2">
                <label for="inputRoPerDay">How many repair orders (ROs) do you get <u>each day</u>?</label>
                <input type="number" [(ngModel)]="formData.roPerDay" name="roPerDay" #autoFocus required min="1"
                    #roPerDay="ngModel" placeholder="e.g. 40" />
                <div *ngIf="roPerDay.invalid && roPerDay.touched" class="error">Please enter a valid number of ROs.
                </div>
                <button type="button" [disabled]="roPerDay.invalid" class="next-btn" (click)="nextStep()">Next</button>
            </div>

            <!-- Step 3 -->
            <div class="step" *ngIf="currentStep === 3">
                <label for="inputLiabilityClaims">How much do you spend each month on policy claims for
                    damages?</label>
                <input type="number" [(ngModel)]="formData.liabilityClaims" name="liabilityClaims" #autoFocus required
                    min="0" #liabilityClaims="ngModel" placeholder="e.g. 7000" />
                <div *ngIf="liabilityClaims.invalid && liabilityClaims.touched" class="error">Please enter a valid
                    number.</div>
                <button type="button" [disabled]="liabilityClaims.invalid" class="next-btn"
                    (click)="nextStep()">Next</button>
            </div>

            <!-- Step 4 -->
            <div class="step" *ngIf="currentStep === 4">
                <label for="inputTradeIns">How many trade-ins and used vehicles do you get each month?</label>
                <input type="number" [(ngModel)]="formData.tradeIns" name="tradeIns" #autoFocus required min="0"
                    #tradeIns="ngModel" placeholder="e.g. 20" />
                <div *ngIf="tradeIns.invalid && tradeIns.touched" class="error">Please enter a valid number.</div>
                <button type="button" [disabled]="tradeIns.invalid" class="next-btn" (click)="nextStep()">Next</button>
            </div>

            <!-- Step 5 -->
            <div class="step" *ngIf="currentStep === 5">
                <label>Where should we send the results to?</label>

                <!-- Copntact form -->
                <input type="text" [(ngModel)]="formData.firstName" name="firstName" #autoFocus required
                    #firstName="ngModel" placeholder="First name" />
                <div *ngIf="firstName.invalid && firstName.touched" class="error">First name is required.</div>

                <input type="text" [(ngModel)]="formData.lastName" name="lastName" required #lastName="ngModel"
                    placeholder="Last name" />
                <div *ngIf="lastName.invalid && lastName.touched" class="error">Last name is required.</div>

                <input type="text" [(ngModel)]="formData.company" name="company" required #company="ngModel"
                    placeholder="Company" />
                <div *ngIf="company.invalid && company.touched" class="error">Company name is required.</div>

                <input type="text" [(ngModel)]="formData.phone" name="phone" required pattern="[0-9]*" #phone="ngModel"
                    placeholder="Phone number" />
                <div *ngIf="phone.invalid && phone.touched" class="error">Please enter a valid phone number.</div>

                <input type="email" [(ngModel)]="formData.email" name="email" required #email="ngModel"
                    placeholder="Email" />
                <div *ngIf="email.invalid && email.touched" class="error">Please enter a valid email address.</div>

                <!-- Submit button -->
                <button type="submit" [disabled]="form.invalid" class="next-btn">Calculate</button>
            </div>

            <!-- Progress Bar -->
            <div class="progress-container">
                <div class="progress-bar" [style.width.%]="(currentStep / 5) * 100"></div>
                <div class="progress-segments">
                    <div class="progress-segment" *ngFor="let step of [1, 2, 3, 4, 5]"></div>
                </div>
            </div>
        </form>
    </div>
</div>